/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


img{
  width: 150px;
  height: 150px;
}

button{
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(116, 116, 211);
  color: #f9f9f9;
  border: none;
  border-radius: 5%;
}

button:hover{
  background-color: rgb(49, 49, 215);
}

.pokemonBox{
  border: 2px solid red;
  width: 20vw;
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.imageClass{
  border: 7px solid;
  border-radius: 100%;
}

select{
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  cursor: pointer;
}